{% extends 'pages/layout.html' %}
{% block body %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
           
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-ul fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{observations}}</div>
                            <div>All Observation</div>
                        </div>
                    </div>
                </div>
                <a href="/">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{nb_warning}}</div>
                            <div>Warnings</div>
                        </div>
                    </div>
                </div>
                <a href="/warnings">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{metrics}}</div>
                            <div> Metrics</div>
                        </div>
                    </div>
                </div>
                <a href="/visualisation">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"> </i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default my-4">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 
                </div>
                <!-- /.panel-heading -->
 <!-- /.panel-heading -->
 <div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
           
            <canvas id="myChart" style="width:100%;max-width:1000px"></canvas>
            <canvas id="secondChart" style="width:100%;max-width:1000px"></canvas>

           <script>

new Chart("myChart", {
  type: 'line',
  
  data: {
    datasets: [{
        
      label: "sentiment_positive",
      borderColor:"rgb(255,0,0)",
      backgroundColor: "rgb(255,0,0)",
      data: {{label_sp| safe }},
      pointBackgroundColor : "rgb(255,0,0)",
      fill: 'false'
    },
{
    label: "sentiment_negative",
      borderColor:"rgb(0,0,255)",
      backgroundColor: "rgb(0,0,255)",
      data: {{label_sn| safe }},
      pointBackgroundColor : "rgb(0,0,255)",
      fill: 'false'
      

},
{
    label: "emotion_joy",
      borderColor:"rgb(128,128,0)",
      backgroundColor: "rgb(128,128,0)",
      data: {{label_ej| safe }},
      pointBackgroundColor : "rgb(128,128,0)",
      fill: 'false'
      

},
{
    label: "emotion_fear",
      borderColor:"rgb(0,0,0)",
      backgroundColor: "rgb(0,0,0)",
      data: {{label_ef| safe }},
      pointBackgroundColor : "rgb(0,0,0)",
      fill: 'false'
      

},
{
    label: "volume",
      borderColor:"rgb(128,128,128)",
      backgroundColor: "rgb(128,128,128)",
      data: {{label_v| safe }},
      pointBackgroundColor : "rgb(128,128,128)",
      fill: 'false'
      

}


],
    labels: {{labels_d|safe}}
  }
})
const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;

new Chart("secondChart", {
    type: 'line',
  data: {
    labels: {{labels_missing|safe}},
    datasets: [{
      label: 'missing dates',
      data: {{missing_values| safe }},
      borderColor: 'rgb(75, 192, 192)',
      fill: false,
    interaction: {
    intersect: false},
    radius: 0,
    segment:{ borderDash: ctx => skipped(ctx, [6, 6])},
    spanGaps: true
    }],
    
  },
   

 


})
           </script>
        
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.panel-body -->
</div>
</div>
</div>
<!-- /.row -->
</div>
{% endblock %}